{% extends 'base.html' %}

{% block content %}
  <h2>Settings</h2>

  <h3>Facebook</h3>
  {% if facebook_login %}
    <p>Connected as <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">{{ facebook_login.extra_data.id }}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
        {% csrf_token %}
        <button type="submit">Disconnect from Facebook</button>
      </form>
    {% else %}
      <button type="button" disabled>Disconnect from Facebook</button>
      <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Facebook.</p>
    {% endif %}
  {% else %}
    <a href="{% url 'social:begin' 'facebook' %}">Connect to Facebook</a>
  {% endif %}

  <h3>Strava</h3>
  {% if strava_login %}
    <p>Connected as <a href="https://strava.com/athletes/{{ strava_login.uid }}/" target="_blank">{{ strava_login.uid}}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'strava' %}">
        {% csrf_token %}
        <button type="submit">Disconnect from Strava</button>
      </form>
    {% else %}
      <button type="button" disabled>Disconnect from Stava</button>
      <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Strava.</p>
    {% endif %}
  {% else %}
    <a href="{% url 'social:begin' 'strava' %}">Connect to Strava</a>
  {% endif %}

  <h3>Moves</h3>
  {% if moves_login %}
    <p>Connected as <!--a href="https://strava.com/athletes/{{ moves_login.uid }}/" target="_blank"-->{{ moves_login.uid}}<!--/a--></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'moves' %}">
        {% csrf_token %}
        <button type="submit">Disconnect from Moves</button>
      </form>
    {% else %}
      <button type="button" disabled>Disconnect from Moves</button>
      <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Moves.</p>
    {% endif %}
  {% else %}
    <a href="{% url 'social:begin' 'moves' %}">Connect to Moves</a>
  {% endif %}

{% endblock %}
