{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>
      {% block title %}
      Sample Website
      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta property="og:title" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content="" />
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    <div class="navbar navbar-static-top navbar-default">
      <div class="container">
        <button class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <header>
        <a class="navbar-brand" href="/">Sample Website</a>
        <div class="nav-collapse">
          {% block navbar_right %}
          <ul class="nav navbar-nav pull-right">
            {% if user.is_authenticated %}
              You are signed in as <strong>{{ user.username }}</strong> /
              <a href="{% url 'home' %}">home</a> /
              <a href="{% url 'settings' %}">settings</a> /
              <a href="{% url 'password' %}">change password</a> /
              <a href="{% url 'logout' %}">logout</a>
            {% else %}
              <a href="{% url 'login' %}">login</a> /
              <a href="{% url 'signup' %}">signup</a>
            {% endif %}
          </ul>

          <hr>
        </header>
          {% endblock %}
        </div><!--/.nav-collapse -->
      </div>
    </div>
    {% endblock %}
    <div class="container page">
        <div class="content">
          <main>
            {% for message in messages %}
              <p style="color: {% if message.tags == 'success' %}green{% elif message.tags == 'error' %}red{% endif %}">
                {{ message }}
              </p>
            {% endfor %}
            {% block content %}
            {% endblock %}
          </main>
        </div>
        <hr>
        {% block footer %}
        <footer class="footer">
            <p>&copy; Sample Website</p>
        </footer>
        {% endblock %}
    </div>
    {% block js_footer %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% endblock %}
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '360532087624129',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  </body>
</html>
